@model Topicos3Parcial.Models.Agendamento

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Agendamento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Professor.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Professor.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sala.Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sala.Codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Horario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Horario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Recorrente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Recorrente)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
